pkgbase = mogan
	pkgdesc = A structured wysiwyg scientific text editor
	pkgver = 1.2.9.8
	pkgrel = 1
	url = https://github.com/XmacsLabs/mogan
	arch = x86_64
	license = GPL3
	makedepends = git
	makedepends = xmake
	makedepends = base-devel
	depends = qt6-base
	depends = qt6-svg
	depends = noto-fonts-cjk
	depends = libpng
	depends = libjpeg
	depends = sqlite
	depends = zlib
	depends = unzip
	depends = curl
	depends = texlive-core
	depends = python
	depends = libxext
	depends = libgit2
	depends = mimalloc
	depends = fontconfig
	depends = freetype2
	depends = openssl
	optdepends = gawk: Conversion of some files
	optdepends = ghostscript: Rendering ps files
	optdepends = imagemagick: Convert images
	optdepends = aspell: Spell checking
	source = mogan::git+https://github.com/XmacsLabs/mogan.git#tag=v1.2.9.8
	source = mogan.desktop
	source = mogan.xml
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = mogan
